
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// typography styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

// backgroud styles
.navbar, .home-callout {
  //Gradient provided by @ighash at UI graidients.com
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// navbar styles
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover{
    color: white;
    opacity: 0.75;
  }
}

.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
  background-color: #5B86E5 ;
  }
}


// Home Page Styles

.home-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

.alert-notice {
  display: none; 
}

.home-signup-links {
  margin-top: 30px;
}







